.carrousel {
  padding: 15px 20%;
}

.media {
  padding: 15px;
  text-align: center;

  .media__title {
    color: $color-primary;
  }

  .media__subtitle {
    color: $color-primary;
    text-align: left;
    border-bottom: solid 1px;
  }

  .media__content {
    padding: 15px 20%;
    .media__video {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%;
      margin: 30px auto;
    }

    .media__music {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%;
      margin: 30px auto;
    }

    .media__iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.contact {
  padding: 15px 20%;
}

@media (max-width: 500px) {
  .carrousel,
  .media__content {
    padding: 0;
  }

  .contact {
    padding: 15px 5%;
  }
}
